.title {
  color: var(--text-color-white);
  font-size: 18px;
  font-weight: 300;
}

.projects_container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.project_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.project_info_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.project_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project_title {
  color: var(--text-color-white);
  height: 24px;
  line-height: auto;
  font-weight: 300;
  height: auto;
}

.project_links {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.project_description {
  color: var(--text-color-white);
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color-gray);
  white-space: normal;
}

.project_technologies {
  color: var(--text-color-blue);
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}

.project_preview_image {
  object-fit: contain;
  border-radius: 3px;
  border: 1px solid var(--border-gray);
}

@media screen and (max-width: 768px) {
  .projects_container {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-top: 40px;
  }

  .project_title {
    font-size: 18px;
  }

  .project_description {
    font-size: 14px;
  }

  .project_technologies {
    line-height: 20px;
    font-size: 12px;
  }

  .project_info_container {
    margin-top: 15px;
    row-gap: 5px;
  }
}
