.container {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 8px;
}

.details {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
}

.details::before {
    content: "";
    background-color: #323030;
    border-radius: 5px;
    inline-size: 2px;
    position: absolute;
    inset-block: 0;
    inset-inline-start: 8px;
}

.title {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    padding-left: 20px;
    position: relative;
}

.title::before {
    box-sizing: border-box;
    inline-size: 12px;
    block-size: 12px;
    content: "";
    border: 2px solid #6CACE4;
    border-radius: 50%;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 2px;
    translate: 0 -50%;
}

.date {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color);
}

.description {
    font-size: 13px;
    color: #686868;
}

.link {
    color: #6CACE4;
    font-size: 14px;
}