.container {
  padding: 120px 180px 165px 180px;
}

.greeting_title {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
  animation: .5s ease-out render;
}

.title {
  font-size: 96px;
  font-weight: 500;
  line-height: 110px;
  background: linear-gradient(
    89.81deg,
    #9845e8 -1.72%,
    #33d2ff 54.05%,
    #dd5789 99.78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color: var(--text-color);
  animation: 1.5s ease-out render;
}

@keyframes render {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.description {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
  color: var(--text-color);
}

.btn_ssh_container {
  padding-top: 50px;
}

.btn_ssh {
  padding: 13px;
  border-radius: 15px;
  border: 3px solid transparent;
  transition: all 120ms ease-in-out;
  background:
    linear-gradient(var(--background-color), var(--background-color))
      padding-box,
    linear-gradient(89.81deg, #9845e8 -1.72%, #33d2ff 54.05%, #dd5789 99.78%)
      border-box;
}

.btn_ssh a {
  color: var(--text-color);
  transition: all 120ms ease-in-out;
  font-size: 16px;
}

.btn_ssh:hover {
  border-radius: 10px;
  border-color: #3e3d39;
  background: none;
  background-color: #2d0922;
}

.btn_ssh:hover a {
  color: #89d432;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 40px 140px 125px 140px;
  }

  .title {
    font-size: 85px;
    line-height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 25px 50px 35px 50px;
  }

  .title {
    line-height: 60px;
    font-size: 50px;
  }

  .description {
    font-size: 12px;
    line-height: 18px;
  }

  .btn_ssh a {
    font-size: 12px;
  }

  .btn_ssh_container {
    padding-top: 30px;
  }

  .greeting_title {
    font-size: 14px;
  }
  
}
